<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="OOPConceptSuite" parallel="tests" verbose="5">

<!-- start a test-->
  <test thread-count="5" name="GumtreeTest" parallel="methods">
  <parameter name="browser" value="ff"/>
    <classes>
      <class name="com.tests.LoginTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
